/* html {
  height: 100%;
} */

body {
  background-color: #0a7b9f;

  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
  touch-action: manipulation;
}

.container {
  /* margin-left: 31%;
  margin-top: 50px; */
  margin-top: 5%;
  width: auto;
  height: auto;
  color: aqua;
  text-align: center;
  font-size: 30px;
}
.pole {
  width: 150px;
  height: 150px;
  font-size: 100px;
  border: #ffe750 2px solid;
  font-size: 95px;
  text-align: center;
  color: #f4fd71;
}

.header {
  text-align: center;
  margin-top: 20px;
  color: #ffe750;
}

.footer {
  text-align: center;
  margin: 0 auto;
}

.githubLogo {
  width: 50px;
  height: 50px;
}

@media screen and (max-width: 480px) {
  .pole {
    width: 135px;
    height: 135px;
    font-size: 85px;
  }
  .footer {
    margin-top: 50%;
  }
}
@media screen and (max-width: 430px) {
  .pole {
    width: 115px;
    height: 115px;
    font-size: 72px;
  }
}

@media screen and (max-width: 350px) {
  .pole {
    width: 100px;
    height: 100px;
    font-size: 63px;
  }
}

@media screen and (min-width: 480px) {
  html {
    height: 100%;
  }

  body {
    min-height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
  }
}
